<app-display-map></app-display-map>

<button type="form" (click)="toForm()">Create New Report</button>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>  
    <tr>
      <th>Location</th>
      <th>Reported By</th>
      <th>Time Reported</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of rs.pigReport">
      <td>{{r.location.lname}}</td>
      <td>{{r.repName}}</td>
      <td>{{r.addedOn | date:'medium'}}</td>
      <td>{{r.status}}</td>
      <td><button  type="button"
        class="btn btn-outline-primary"
        data-toggle="modal" data-target="#myModal" (click)="showMore(r)">
        More Info
      </button></td>
      <td><button  type="button"
        class="btn btn-outline-warning"
        data-toggle="modal" data-target="#editStatus" (click)="changeStatus(r)">
        Edit Status
      </button></td>
      <td><button class="btn btn-outline-danger" data-toggle="modal" data-target="#passModal" (click)="delReport(r)">Delete</button></td>
    </tr>
  </tbody>
  <tfoot>  
    <tr>
      <th>Location</th>
      <th>Reported By</th>
      <th>Time Reported</th>
      <th>Status</th>
      <th></th>
    </tr>
  </tfoot>
</table>

 <!-- The Modal -->
 <div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Pig-Report Information</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body" >
        <table class="table">
          <tbody>
            <tr>
              <th>Reported By:</th>
              <td id="rname"></td>
            </tr>
            <tr>
              <th>Reporter's Number:</th>
              <td id="rphone"></td>
            </tr>
            <tr>
              <th>Pig Breed:</th>
              <td id="pbreed"></td>
            </tr>
            <tr>
              <th>PID:</th>
              <td id="pid"></td>
            </tr>
            <tr>
              <th>Location name:</th>
              <td id="lname"></td>
            </tr>
            <tr>
              <th>Longitude:</th>
              <td id="llong"></td>
            </tr>
            <tr>
              <th>Latitude:</th>
              <td id="llat"></td>
            </tr>
            <tr>
              <th>Status:</th>
              <td id="status"></td>
            </tr>
            <tr>
              <th>Time of Report:</th>
              <td id="time"></td>
            </tr>
            <tr>
              <th>Extra Notes:</th>
              <td id="notes"></td>
            </tr>
          </tbody>
        </table>
      
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="passModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirm Deletion Of a pig</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body" >
        <label for="password">Password: </label>
        <input id="password" type="text" placeholder="Enter the password" >
        <small id ="wrong" style="display:none; color: red;">Sorry! wrong password. Try again..</small>   
        <button id="confirmDel" class="btn btn-outline-primary">Confirm</button>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button id="closeModal" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>


<div class="modal" id="editStatus"
>
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change status </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body" >
        <label for="cpassword">Password: </label>
        <input id="cpassword" type="text" placeholder="Enter the password" >
        <small id ="cwrong" style="display:none; color: red;">Sorry! wrong password. Try again..</small>   
        <button id="conChange" class="btn btn-outline-primary">Confirm</button>
        <div id="chStatus" style="display:none">
          <p>Please select status from below:</p>
            <input type="radio" id="ready" name="status" value="READY FOR PICKUP" checked="true">
            <label for="html">READY FOR PICKUP</label><br>
            <input type="radio" id="retrieved" name="status" value="RETRIEVED">
            <label for="html">RETRIEVED</label><br>
            <button id="confirmStatus" class="btn btn-outline-primary">Confirm</button>
        </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button id="ccloseModal" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>