form{
    box-sizing: border-box;
    border-color: black;
}
input{
    padding: 5px 10px;
    margin: 8px 10px;
    box-sizing: border-box;
    border: 2px solid rgb(139, 219, 138);
    border-radius: 6px;
    background-color: #f8f8f8;
}
.formfield * {
    vertical-align: top;
    margin-top: 10px;
}

textarea {
    width: 50%;
    height: 100px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid rgb(151, 149, 149);
    border-radius: 6px;
    background-color: #f8f8f8;
    resize: none;
} 
button{
    width: 20%;
    margin: 20px 10px;
}

.ng-invalid:not(form)  {
    border: 2px solid #a94442; 
}

h2, label, p{
    color: #060505;
}

.col{
    text-align: left;
}

